/* Base theme */
@font-face{
  font-family:"Basis Grotesque Mono";
  src:url("fonts/basis-grotesque-mono.ttf") format("truetype"),
    url("fonts/basis-grotesque-mono.woff") format("woff"),
    url("fonts/basis-grotesque-mono.woff2") format("woff2");
}
@font-face{
  font-family:"Basis Grotesque Off-White";
  src:url("fonts/basis-grotesque-off-white.ttf") format("truetype"),
    url("fonts/basis-grotesque-off-white.woff") format("woff"),
    url("fonts/basis-grotesque-off-white.woff2") format("woff2");
}
body{
  padding:0;
  margin:0;
  font-family:"Basis Grotesque Mono", sans-serif;
  -webkit-font-smoothing:subpixel-antialiased;
  text-rendering:optimizeLegibility;
  font-size:18px;
  hyphens:auto;
  overflow-x:hidden;
}
p{
  font-family:"Basis Grotesque Off-white", sans-serif;
}

/* Links */
a{
  color:#F71E5D;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
a:active{
  color:black;
}
.link-alt{
  color:white;
  text-decoration:underline;
  transition-duration:50ms;
  transition-timing-function:ease-in-out;
}
.link-alt:hover{
  opacity:0.8;
}
.link-alt:active{
  opacity:0.5;
}
.link-bold{
  border:1px solid #F71E5D;
  padding:5px;
  line-height:2em;
  hyphens:none;
  white-space:nowrap;
  transition-duration:50ms;
  transition-timing-function:ease-in-out;
}
.link-bold:hover{
  background-color:#F71E5D;
  color:white;
  text-decoration:none;
}
.link-bold:active{
  background-color:black;
  border:1px solid black;
}
.link-bold-rev{
  border:1px solid white;
  color:white;
  padding:5px;
  line-height:2em;
  hyphens:none;
  white-space:nowrap;
}
.link-bold-rev:hover{
  background-color:white;
  color:#F71E5D;
  text-decoration:none;
}
.link-bold-rev:active{
  background-color:black;
  border:1px solid black;
}

/* Homepage header */
.homepage-menu a{
  flex:25%;
  margin:4px;
  padding:10px 5px 10px 5px;
  text-align:center;
  text-decoration:none;
}
.homepage-menu a:hover{
  border-bottom:1px solid white;
}
.homepage-header{
  height:100vh;
  background-color:black;
  overflow:hidden;
  position:relative;
}

/* Homepage header animation */
@keyframes soundwave{
  0%{
    opacity:1;
  }
  100%{
    transform:scale(10);
    opacity:0;
  }
}
.soundwave{
  position:absolute;
  margin-top:37vh;
  height:23vh;
  animation-name:soundwave;
  animation-duration:2s;
  opacity:0;
  animation-iteration-count:infinite;
  animation-timing-function:ease-out;
}
@keyframes woofer{
  0%{
    transform:scale(1);
    opacity:0.5;
  }
  10%{
    transform:scale(1.1);
    opacity:1;
  }
  20%{
    transform:scale(1);
    opacity:0.9;
  }
  30%{
    transform:scale(1.1);
    opacity:1;
  }
  100%{
    transform:scale(1);
    opacity:0.5
  }
}
.woofer{
  animation-name:woofer;
  animation-duration:2s;
  animation-iteration-count:infinite;
  animation-timing-function:ease;
  animation-delay:1s;
  opacity:0.5;
  position:absolute;
  height:24vh;
  margin-top:37vh;
}
@keyframes speaker{
  0%{
    transform:rotate(0deg) scale(1);
    opacity:0.5;
  }
  8%{
    transform:rotate(2deg) scale(1.1);
  }
  18%{
    transform:rotate(-2deg) scale(1.2);
    opacity:1;
  }
  28%{
    transform:rotate(2deg) scale(1);
  }
  40%{
    transform:rotate(0deg) scale(1);
    opacity:0.75;
  }
  100%{
    opacity:0.5;
  }
}
.speaker{
  opacity:0.5;
  animation-name:speaker;
  animation-duration:2s;
  animation-iteration-count:infinite;
  animation-timing-function:ease;
  animation-delay:1s;
  height:60vh;
  margin-top:15vh;
}

/* Homepage header CTA */
.black-block{
  display:block;
  padding:30px;
  text-decoration:none;
  color:white;
  position:absolute;
  bottom:0;
  width:calc(100% - 60px);
  background:linear-gradient(rgba(0,0,0,0),black);
  z-index:1000;
}
.black-block:hover{
  text-decoration:none;
}
.black-block h1{
  font-size:40px;
}
.black-block:hover h1{
  text-decoration:underline;
  text-decoration-color:#F71E5D;
  -webkit-text-decoration-color:#F71E5D;
}
.black-block:active h1{
  color:white;
  text-decoration-color:white;
  -webkit-text-decoration-color:white;
}
.black-block h4{
  color:silver;
}

/* Portfolio grid */
.feature-block{
  display:flex;
  flex-wrap:wrap;
  padding:1px 0 1px 0;
  background-color:lightgray;
}
.feature-item{
  color:black;
  background-color:white;
  text-decoration:none;
  border:1px solid lightgray;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  transition-duration:100ms;
  transition-timing-function:ease-in-out;
  padding:30px;
}
.feature-item:hover{
  color:gray;
  border:1px solid gray;
  text-decoration:none;
}
.feature-item:active{
  color:#F71E5D;
  border:1px solid #F71E5D;
  text-decoration:none;
}
.feature-item:hover .feature-img{
  transform:scale(1.02);
  transition-duration:100ms;
  transition-timing-function:ease-in-out;
}
.feature-item p{
  font-family:"Basis Grotesque Mono";
}
.feature-img{
  width:100%;
}

/* Portfolio page */
.portfolio-header h1 span{
  color:#F71E5D;
  hyphens:none;
}
.portfolio-desc{
  background-color:#F71E5D;
  color:white;
}
.portfolio-list{
  hyphens:none;
}
.portfolio-list a{
  text-decoration:none;
}
.portfolio-item{
  background-color:black;
  transition-duration:50ms;
  transition-timing-function:ease-in-out;
}
.portfolio-item p{
  color:white;
}
.portfolio-item p span{
  color:#F71E5D;
}
.portfolio-item:hover{
  background-color:white;
}
.portfolio-item:hover p{
  color:black;
}
.portfolio-item:active{
  background-color:#F71E5D;
}
.portfolio-item:active p{
  color:white;
}
.portfolio-item:active p span{
  color:black;
}
.portfolio-item-alt{
  background-color:#F71E5D;
}
.portfolio-item-alt:active{
  background-color:black;
}

/* Write-up page and text styles */
.page-header{
  background-color:#F71E5D;
}
.page-header img{
  max-height:60vh;
  margin:60px;
}
.page-title{
  background-color:black;
  color:white;
}
.page-title h1{
  color:#F71E5D;
}
.text-header{
  background-color:black;
  color:white;
  padding:5px;
}
.text-span p{
  line-height:1.5em;
}
.text-number{
  font-family:"Basis Grotesque Off-White";
  font-size:64px;
  color:#F71E5D;
}
.divider{
  background-image:linear-gradient(to right, white, #F71E5D, white);
  padding-top:3px;
  margin:0 40px 0 40px;
}

/* Image breaks */
.img-break{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  text-align:center;
}
.img-break a{
  background-color:white;
  padding:20px;
  border:3px solid lightgray;
  font-size:0;
  text-decoration:none;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  transition-duration:100ms;
  transition-timing-function:ease-in-out;
}
.img-break a:hover{
  border:3px solid #F71E5D;
}
.img-break a:active{
  border:3px solid black;
}
.img-break img{
  max-width:100%;
  max-height:600px;
  flex-basis:100%;
}
.img-break p{
  opacity:0.5;
  flex-basis:100%;
}

/* Copyright */
.footer-block{
  display:flex;
  padding:0 20px 0 20px;
  color:gray;
}
.footer-block p{
  width:50%;
}
.footer-contact{
  color:gray;
  text-align:right;
  text-decoration:none;
}
.footer-contact:hover{
  text-decoration:underline;
}

/* Button lists */
.list-subtitle{
  color:lightgray;
}
.list-item{
  display:block;
  margin-top:2px;
  margin-bottom:2px;
  color:black;
  background-color:white;
  text-decoration:none;
  border-top:1px solid rgba(0,0,0,0);
  border-bottom:1px solid rgba(0,0,0,0);
}
.list-item:hover{
  color:gray;
  text-decoration:none;
  border-top:1px solid gray;
  border-bottom:1px solid gray;
}
.list-item:active{
  color:#F71E5D;
  text-decoration:none;
  border-top:1px solid #F71E5D;
  border-bottom:1px solid #F71E5D;
}

/* Tables */
table{
  border-spacing:5px;
  margin-left:auto;
  margin-right:auto;
  min-width:100vw;
}
th{
  text-align:left;
  background-color:black;
  color:white;
}
th, td{
  padding:20px;
  min-width:150px;
  hyphens:none;
}
td{
  font-family:"Basis Grotesque Off-White", sans-serif;
  background-color:whitesmoke;
}
.row-header{
  background-color:black;
  color:white;
}
.row-header-important{
  background-color:#F71E5D;
  color:white;
}

/* Scroll override */
.scrollable{
  overflow-x:scroll;
}

/* Flex formatting */
.flex-block{
  display:flex;
  flex-wrap:wrap;
  align-items:stretch;
}
.col-half{
  display:flex;
  flex-direction:column;
  justify-content:center;
}

/* Responsive breakpoints */
@media only screen and (max-width:450px){
  .feature-item{
    flex-basis:100%;
  }
  .text-block{
    padding:60px 30px 60px 30px;
  }
  .text-span{
    padding:60px 30px 60px 30px;
  }
  .portfolio-item{
    padding:20px 30px 20px 30px;
  }
  .list-item{
    padding:5px 30px 5px 30px;
  }
  .col-half{
    flex-basis:100%;
  }
  .portfolio-header h1{
    font-size:2em;
  }
}
@media only screen and (min-width:450px){
  .feature-item{
    flex-basis:50%;
  }
  .text-block{
    padding:60px 40px 60px 40px;
  }
  .text-span{
    padding:60px 40px 60px 40px;
  }
  .portfolio-item{
    padding:20px 40px 20px 40px;
  }
  .list-item{
    padding:5px 40px 5px 40px;
  }
  .col-half{
    flex-basis:100%;
  }
  .portfolio-header h1{
    font-size:3em;
  }
}
@media only screen and (min-width:900px){
  .feature-item{
    flex-basis:calc(100%/3);
  }
  .text-block{
    padding:60px 60px 60px 60px;
  }
  .text-span{
    padding:60px 150px 60px 150px;
  }
  .portfolio-item{
    padding:20px 150px 20px 150px;
  }
  .list-item{
    padding:5px 60px 5px 60px;
  }
  .col-half{
    flex-basis:50%;
  }
  .portfolio-header h1{
    font-size:4em;
  }
}
@media only screen and (min-width:1200px){
  .feature-item{
    flex-basis:25%;
  }
  .text-block{
    padding:60px 80px 60px 80px;
  }
  .text-span{
    padding:60px 250px 60px 250px;
  }
  .portfolio-item{
    padding:20px 250px 20px 250px;
  }
  .list-item{
    padding:5px 80px 5px 80px;
  }
  .portfolio-header h1{
    font-size:4em;
  }
}
@media only screen and (min-width:1600px){
  .feature-item{
    flex-basis:20%;
  }
  .text-block{
    padding:60px 100px 60px 100px;
  }
  .text-span{
    padding:60px 300px 60px 300px;
  }
  .portfolio-item{
    padding:20px 300px 20px 300px;
  }
  .list-item{
    padding:5px 100px 5px 100px;
  }
}
