/** Base styles **/

/* Structure */
body{
  background-color:#E2E1E0;
  font-family:'Noto Sans', Arial, sans-serif;
  color:#212121;
  font-size:30px;
  -webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
html,body{
  height:100%;
  margin:0px;
}
.body{
  padding-top:48px;
  margin:auto;
  width:100%;
  font-size:14px;
  hyphens:auto;
}

/* Links */
a{
  color:#5F515F;
  text-decoration:none;
  transition:all 0.3s cubic-bezier(.25,.8,.25,1);
}
a:hover{
  color:#877C87;
  text-decoration:underline;
}
a:active{
  color:#5F515F;
  opacity:0.5;
}
.links a{
  font-size:12px;
  line-height:40px;
  color:#877C87;
  padding:6px;
  border:1px solid #E2E1E0;
  border-radius:3px;
  text-decoration:none;
  white-space:nowrap;
  transition:all 0.3s cubic-bezier(.25,.8,.25,1);
}
.links a:hover{
  color:#212121;
  border:1px solid #212121;
}
.links a:active{
  color:#877C87;
}

/* Headings */
h1{
  font-size:30px;
  margin:0px;
  font-weight:bold;
  text-transform:capitalize;
  text-align:left;
  hyphens:none;
}
h2{
  font-size:14px;
  font-weight:bold;
  text-transform:capitalize;
}
h3{
  font-size:14px;
  font-weight:bold;
  text-transform:capitalize;
}

/* Homepage menu */
.homeItems a{
  font-size:18px;
  text-decoration:none;
  transition:all 0.1s cubic-bezier(.25,.8,.25,1);
}
.homeItems a:active{
  opacity:0.5;
}
.homeBlue:hover{
  color:#234E7B;
}
.homeBlue:active{
  color:#0D3B6B;
}
.homeRed:hover{
  color:#AE242C;
}
.homeRed:active{
  color:#87191B;
}
.homeSub{
  font-size:12px;
}
.homeSub a:hover{
  text-decoration:none;
}
.homeIcon{
  font-size:10px;
}
.homeIcon a:hover{
  text-decoration:none;
}

/* Navigation bar */
.navBar{
  position:fixed;
  width:100%;
  background-color:#212121;
  z-index:999;
  opacity:0.9;
  transition:all 0.3s cubic-bezier(.25,.8,.25,1);
}
.navBar:hover{
  opacity:1;
}
.menuIcon{
  float:left;
  height:50px;
  width:50px;
  background-color:inherit;
  transition:all 0.3s cubic-bezier(.25,.8,.25,1);
}
.menuIcon:hover{
  background-color:#FAFAFA;
}
.menuIcon a{
  padding:16px;
  text-decoration:none;
  color:#FAFAFA;
  font-size:20px;
  cursor:pointer;
  transition:all 0.3s cubic-bezier(.25,.8,.25,1);
}
.menuIcon a:hover{
  color:#212121;
}

/* Navigation menu */
.nav{
  height:100%;
  width:200px;
  padding-top:10px;
  padding-left:50px;
  padding-right:50px;
  position:fixed;
  z-index:1000;
  background-color:#212121;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  left:-300px;
  opacity:0;
  overflow-y:scroll;
}
.navShow{
  left:0;
  opacity:1;
}
.nav span{
  padding:6px;
  border-radius:3px;
  background-color:#424242;
}
.nav span:hover{
  background-color:#616161;
}
.nav h1{
  font-size:24px;
  color:#FAFAFA;
}
.nav p{
  font-size:12px;
  line-height:40px;
  color:#FAFAFA;
}
.nav a{
  font-size:14px;
  color:#E2E1E0;
}
.nav a:hover{
  text-decoration:none;
  color:#FAFAFA;
}
.nav a:active{
  color:#E2E1E0;
}
.navIcon a{
  font-size:20px;
  cursor:pointer;
}
.navSelect span{
  background-color:#616161;
}

/* Text box */
.textBox{
  padding-left:20px;
  padding-right:20px;
  padding-top:60px;
  padding-bottom:60px;
  background-color:rgba(250,250,250,0.5);
  transition:all 0.3s cubic-bezier(.25,.8,.25,1);
}
.textBox:hover{
  background-color:rgba(250,250,250,1);
}
.textBox h1 a{
  color:#212121;
  text-decoration:none;
}
.textBox h2{
  font-size:12px;
  color:#424242;
  font-weight:bold;
  text-transform:capitalize;
  line-height:30px;
}
.textBox h2 span{
  margin-right:5px;
  padding-top:2px;
  padding-bottom:2px;
  padding-left:5px;
  padding-right:5px;
  border-radius:3px;
  background-color:#E2E1E0;
}
.textBox h3{
  font-size:10px;
  color:#616161;
  text-transform:uppercase;
  transition:all 0.3s cubic-bezier(.25,.8,.25,1);
}
.textContent{
  max-width:620px;
  margin:auto;
}
.selectBox{
  background-color:rgba(250,250,250,1);
}


/** Nested text cards **/

.textCard{
  padding:10px;
  margin-bottom:5px;
  border-radius:3px;
  border:1px solid #E2E1E0;
}
.textCard h2{
  font-size:14px;
  margin-top:2px;
  margin-bottom:2px;
  font-weight:bold;
  text-transform:capitalize;
}
.textCard h3{
  font-size:10px;
  margin:0px;
  text-transform:uppercase;
}
.textCard h4{
  margin:0;
  font-size:12px;
  color:#424242;
  font-weight:bold;
  text-transform:capitalize;
  line-height:30px;
}
.textCard span{
  margin-right:5px;
  padding-top:2px;
  padding-bottom:2px;
  padding-left:5px;
  padding-right:5px;
  border-radius:3px;
  background-color:#E2E1E0;
}

/* Image thumbnails */
.imageThumb{
  margin-top:24px;
  margin-bottom:24px;
  padding-top:6px;
  padding-bottom:2px;
  padding-left:6px;
  padding-right:6px;
  border:1px solid #E2E1E0;
  border-radius:3px;
  transition:all 0.3s cubic-bezier(.25,.8,.25,1);
}
.imageThumb img{
  padding:2px;
  border:1px solid #E2E1E0;
  border-radius:3px;
  width:calc(100%/6 - 9.1px); /* 6 columns */
  transition:all 0.3s cubic-bezier(.25,.8,.25,1);
}
.imageThumb img:hover{
  cursor:pointer;
  opacity:0.8;
}
.imageThumb img:active{
  cursor:pointer;
  opacity:0.4;
}
.imageSelect{
  opacity:0.5;
}

/* Image thumbnails in pretty columns */
@media screen and (max-width:550px){
  .imageThumb img{
    width:calc(100%/5 - 9px); /* 5 columns */
  }
}
@media screen and (max-width:450px){
  .imageThumb img{
    width:calc(100%/4 - 8.8px); /* 5 columns */
  }
}

/* Image feature and description */
.imageContainer div{
  padding:10px;
  margin-bottom:7px;
  border-radius:3px;
  animation-name:imageFeature;
  animation-duration:0.3s;
  animation-timing-function:ease;
  animation-fill-mode:forwards;
  border:1px solid #E2E1E0;
}
@keyframes imageFeature{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
.imageContainer .imageBack{
  font-size:10px;
  margin-top:0px;
  margin-bottom:10px;
  font-weight:bold;
  text-transform:uppercase;
}
.imageContainer h4{
  color:#212121;
  font-size:20px;
  margin-top:10px;
  margin-bottom:0px;
  font-weight:bold;
  text-transform:capitalize;
}
.imageContainer img{
  display:block;
  margin-left:auto;
  margin-right:auto;
  max-width:100%;
  transition:all 0.3s cubic-bezier(.25,.8,.25,1);
}
.imageContainer img:hover{
  opacity:0.8;
}
.imageContainer img:active{
  opacity:0.5;
}

/* Footer and copyright */
footer{
  text-align:center;
  color:#212121;
  padding-bottom:25px;
}
.downArr{
  line-height:15px;
}
.copyright{
  font-size:10px;
}
.upArr{
  font-size:20px;
  color:#212121;
  transition:all 0.3s cubic-bezier(.25,.8,.25,1);
}
.upArr:hover{
  font-size:23px;
  color:#212121;
  text-decoration:none;
}

/******************************************************************************/

/** Blue theme styles **/

/* Links */
.themeBlue a{
  color:#234E7B;
}
.themeBlue a:hover{
  color:#74A5D6;
}
.themeBlue a:active{
  color:#0D3B6B;
}
.themeBlue .links a{
  color:#877C87;
}
.themeBlue .links a:hover{
  color:#0D3B6B;
  border:1px solid #0D3B6B;
}
.themeBlue .links a:active{
  color:#877C87;
}

/* Navigation bar */
.themeBlue .navBar{
  background-color:#0D3B6B;
}
.themeBlue .menuIcon{
  background-color:#0D3B6B;
}
.themeBlue .menuIcon:hover{
  background-color:#C9DEF3;
}
.themeBlue .menuIcon a{
  color:#C9DEF3;
}
.themeBlue .menuIcon a:hover{
  color:#0D3B6B;
}

/* Navigation menu */
.themeBlue .nav{
  background-color:#0D3B6B;
}
.themeBlue .nav span{
  background-color:#234E7B;
}
.themeBlue .nav span:hover{
  background-color:#74A5D6;
}
.themeBlue .nav p{
  color:#C9DEF3;
}
.themeBlue .nav a{
  color:#C9DEF3;
}
.themeBlue .nav a:hover{
  color:#FAFAFA;
}
.themeBlue .nav a:active{
  color:#C9DEF3;
}
.themeBlue .navSelect span{
  background-color:#74A5D6;
}

/******************************************************************************/

/** Red theme styles **/

/* Links */
.themeRed a{
  color:#EC494C;
}
.themeRed a:hover{
  color:#AE242C;
}
.themeRed a:active{
  color:#87191B;
}
.themeRed .links a{
  color:#877C87;
}
.themeRed .links a:hover{
  color:#87191B;
  border:1px solid #AE242C;
}
.themeRed .links a:active{
  color:#877C87;
}

/* Navigation bar */
.themeRed .navBar{
  background-color:#87191B;
}
.themeRed .menuIcon{
  background-color:#87191B;
}
.themeRed .menuIcon:hover{
  background-color:#FA686A;
}
.themeRed .menuIcon a{
  color:#FA686A;
}
.themeRed .menuIcon a:hover{
  color:#87191B;
}

/* Navigation menu */
.themeRed .nav{
  background-color:#87191B;
}
.themeRed .nav span{
  background-color:#AE242C;
}
.themeRed .nav span:hover{
  background-color:#EC494C;
}
.themeRed .nav p{
  color:#FA686A;
}
.themeRed .nav a{
  color:#FA686A;
}
.themeRed .nav a:hover{
  color:#FAFAFA;
}
.themeRed .nav a:active{
  color:#FA686A;
}
.themeRed .navSelect span{
  background-color:#EC494C;
}
