/* Base theme */
@font-face{
  font-family: 'Montserrat', sans-serif;
}
@font-face{

  font-family: 'Arvo', serif;
}
body{
  padding:0;
  margin:0;
  font-family:"Arvo", serif;
  -webkit-font-smoothing:subpixel-antialiased;
  text-rendering:optimizeLegibility;
  font-size:18px;
  hyphens:auto;
  overflow-x:hidden;
  letter-spacing:0.2px;
  word-spacing:normal;
}
h1, h2, h3, h4, h5, h6{
  font-family:"Montserrat", sans-serif;
}
p{

  font-family:"Arvo", serif;
}
a{
  color:white;
  text-decoration:underline;
}
a:hover{
  opacity:0.75;
}
a:active{
  opacity:0.5;
}

/* Homepage */
.homepage-header{
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  align-items:flex-end;
  align-content:flex-end;
  height:100vh;
  hyphens:none;
}
@keyframes homepage-title{
  0%{
    opacity:0;
    box-shadow:0 0;
  }
  100%{
    opacity:1;
    box-shadow:10px 10px;
  }
}
.homepage-title{
  background-color:rgba(63,33,34,0.75);
  border:2px solid white;
  color:white;
  text-align:right;
  padding:15px 20px 20px 20px;
  margin:40px;
  box-shadow:0 0;
  opacity:0;
  animation-name:homepage-title;
  animation-duration:1s;
  animation-delay:0.5s;
  animation-timing-function:ease;
  animation-fill-mode:forwards;
}
@keyframes homepage-links{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
.homepage-links{
  display:flex;
  text-align:center;
  margin:0 30px 30px 30px;
  line-height:1em;
  opacity:0;
  animation-name:homepage-links;
  animation-duration:1s;
  animation-delay:1s;
  animation-timing-function:ease;
  animation-fill-mode:forwards;
}
.homepage-links a{
  background-color:white;
  color:black;
  font-size:18px;
  padding:10px;
  border-radius:50px;
  margin:10px 5px 10px 5px;
  text-decoration:none;
  opacity:1;
  border:2px solid white;
  -webkit-transition:0.3s;
  transition:0.3s;
}
.homepage-links a:hover{
  background-color:rgba(0,0,0,0);
  border:2px solid white;
  color:white;
  box-shadow:10px 10px;
}
.homepage-links a:active{
  opacity:0.5;
}

/* Copyright */
.footer-block{
  display:flex;
  padding:0 20px 0 20px;
  color:gray;
}
.footer-block p{
  width:50%;
}
.footer-contact{
  color:gray;
  text-align:right;
  text-decoration:none;
}
.footer-contact:hover{
  text-decoration:underline;
}

/* Responsive breakpoints */
@media only screen and (max-width:450px){
  .homepage-header{
    flex-direction:column-reverse;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:flex-start;
  }
  .homepage-title{
    text-align:left;
  }
  .homepage-title h1{
    font-size:24px;
  }
  .homepage-links{
    flex-direction:column;
    margin-bottom:0;
  }
}
@media only screen and (min-width:450px){
}
@media only screen and (min-width:900px){
}
@media only screen and (min-width:1200px){
}
@media only screen and (min-width:1600px){
}
